.mainAuth {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  border: green solid 5px;
  height: 100%;

  padding: 20px;
  /* border: solid green 5px; */
  border-radius: 20px;
  margin-top: 40px;
  align-items: center;

  justify-content: center;
}
.childDiv {
  width: 100px;
  height: 100px;
  align-items: stretch;
}
